/build
/out
Makefile
*.[oa]
*.l[oa]
*.opensdf
*.orig
*.pyc
*.sdf
*.sln
*.suo
*.swp
*.target.mk
*.vcproj
*.vcxproj
*.vcxproj.filters
*.vcxproj.user
*.xcodeproj
*.xcworkspace
_UpgradeReport_Files/
UpgradeLog*.XML
[Dd]ebug/
[Rr]elease/
ipch
